*{
	font-family: serif;
}

html{
	background-image: url("./image/persona1.jpg");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#header{
	background-color: rgb(30, 53, 94);
	position: absolute;
	top: 0;
	width: 100%;
	left: 0;
}

.element{
	display: flex;
	align-items: center;
	filter: invert(100%);
}

.logo{
	position:absolute;
	height: 70px;
	width: auto;
	left: 5%;
	filter: invert(100%);
}

.title{
	position: relative;
	font-size: 2rem;
	left: 13%;
}

#panel{
	background: rgba(255, 255, 255, .5);
	width: 100%;
	right: 0%;
	top: 13%;
	position: absolute;
	height: 100%;
	z-index: -1;
}

.logoTecnm{
	display: flex;
	align-items: center;
}

h2{
	font-family: arial;
	font-size: 1rem;
}

#sign{
	background-color: #eee;
	width: 30%;
	right: 10%;
	top: 25%;
	position: absolute;
	height: 40%;
	padding: 10px;
	border-radius: 1rem 1rem;
	/*background: rgba(255, 255, 255, .5);*/
}

.userX{
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	height: 13%;
	top: 10%;
}

.passwordX{
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	height: 15%;
	top: 20%;
}

.login{
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	top: 30%;
}